@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}


html, body{
	margin: 0px;
}

body{
	color: #EEE;
	background: #1C1C1C;
	font-family: "Open Sans", sans-serif;
}

header, main, footer{
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

header{
	top: 0;
	height: 48px;
	background-color: #416;
	box-shadow: 0px 1px 4px #111;
}
	header>a{
		width: 48px;
		height: 48px;
		display: inline-block;
	}
	header nav{
		float: right;
		height: 100%;
		display: inline-block;
		overflow: hidden;
	}
		header nav a{
			color: white;
			height: 100%;
			padding: 0 8px;
			display: inline-block;

			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0 0 4px purple;
			font: bold 1em "Roboto", sans-serif;
			line-height: 48px;
		}
		header nav a:hover{
			text-shadow: 0 0 4px orange;
		}

main{
	top: -48px;
}

section{
	margin: 20px;
	padding: 20px 10px;

	background: #146;
	border-radius: 10px;
	box-shadow: 0px 0px 8px 4px #146;
	}
	section figure{
		color: white;
		overflow: hidden;
		font-family: "Roboto", sans-serif;
		text-align: center;
		text-shadow: 0 0 4px;
		box-shadow: 0px 0px 4px 2px #222;

		background-size: 100% !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
	section figure img{ height: inherit; }
	section figure img:hover{
		transition: 200ms all;
		transform:  scale(1.1);
	}


footer{
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: linear-gradient(#1C1C1C, black);
}
	footer nav{
		float: right;
		margin: 8px;
	}

	footer nav a{
		margin: 2px;
		display: inline-block;
		vertical-align: middle;
	}

	footer nav img:hover{
		transform: rotate(10deg);
		filter: invert(100%);
	}


h1 {
	color: #099;
	margin-left: 40px;
	text-shadow: 0 0 4px green;
}

p{ text-align: justify; }

.flex-it{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	cursor: default;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.text{
	padding: 20px 30px;
}

#games figure{
	margin: 10px;
	width: 256px;
	height: 256px;
	font-size: 1.2em;
	border-radius: 32px;
}

#games figure figcaption{
	position: relative;
	top: -32px;
}

#gamers figure{
	margin: 10px;
	width: 192px;
	height: 192px;
	font-size: 1.1em;
	border-radius: 96px;
}
#gamers figure figcaption{
	position: relative;
	top: -32px;
}


.fixIt{
	position: fixed;
	top: 0;
	right: 0;
	height: 48px;
}

#pflogo{ background: url("img/icon/logo.png") no-repeat center; }
#tslogo{ background: url("img/icon/ts.png") no-repeat center; }
